/Python-Files/tes.py
Notebooks/UDEMY_01_Pytorch_wokflow-copy.ipynb
/FashionMNIST_dataset
/Models
/CV_Practice
/CV_PRAC_fromsol
/Notebooks/03_pytorch_computer_vision_exercise_solutions.ipynb
/PRAC_fashionMNIST_testset
/PRAC_fashionMNIST_trainset
/Datasets

